.parent{
    display: flex;
    flex-direction: row;
    justify-content:center ;
    align-items:center; 
    margin-top: 2%;
    margin-bottom: 2%;
}
.image{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items:center;
}
.infos{
    display: block;
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}

#id{
    color: white;
}

#image{
    width: 150px;
    height: 150px;
    border-right: 5px solid #7E0000DE;
    display: block;
}

#sexe{
    color:white;
}

#prenom{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    text-align:center;
}

#nom{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 10px;
    text-align:center;
}

#mail{
    color: blue;
    text-decoration: underline;
    font-weight: bold;
    font-size: 12px;
    margin-top: 10px;
    text-align:center;
}

#date{
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
    text-align:center;
}

#modification{
    margin-left: 2%;
    font-family: Roboto, sans-serif;
    font-weight: 900;
    font-size: 12px;
    color: #ffffff;
    background-color: #d60707dd;
    padding: 10px 30px;
    border: solid #000000 3px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 50px;
    transition : 419ms;
    transform: translateY(0);
    display: flex;
    flex-direction:row-reverse;
    align-items: center;
    cursor: pointer;
    text-transform: lowercase;
}

#modification:hover{    
    transition : 419ms;
    padding: 10px 45px;
    transform : translateY(-15px);
    background-color: #d60707dd;
    color: #ffffff;
    border: solid 3px #000000;
}


/*pour version TEL*/
@media (orientation: portrait) {
    .parent{
        display: flex;
        flex-direction: row;
        justify-content:center ;
        align-items:center; 
        margin-top: 2%;
        margin-bottom: 20%;
    }
    .image{
        display: flex;
        flex-direction: column;
        justify-content:center ;
        align-items:center;
    }
    .infos{
        display: block;
        display: flex;
        flex-direction: column;
        margin-left: 25px;
    }
    
    #id{
        color: white;
    }
    
    #image{
        width: 150px;
        height: 150px;
        border-right: 5px solid #7E0000DE;
        display: block;
    }
    
    #sexe{
        color:white;
    }
    
    #prenom{
        font-weight: bold;
        text-transform: uppercase;
        font-size: 18px;
        text-align:center;
    }
    
    #nom{
        font-weight: bold;
        text-transform: uppercase;
        font-size: 18px;
        margin-top: 10px;
        text-align:center;
    }
    
    #mail{
        color: blue;
        text-decoration: underline;
        font-weight: bold;
        font-size: 12px;
        margin-top: 10px;
        text-align:center;
    }
    
    #date{
        font-weight: bold;
        font-size: 16px;
        margin-top: 10px;
        text-align:center;
    }
    
    #modification{
        position: absolute;
        margin-top: 250px;
        margin-left: 2%;
        font-family: Roboto, sans-serif;
        font-weight: 900;
        font-size: 12px;
        color: #ffffff;
        background-color: #d60707dd;
        padding: 10px 30px;
        border: solid #000000 3px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 50px;
        transition : 419ms;
        transform: translateY(0);
        display: flex;
        align-items: center;
        cursor: pointer;
        text-transform: lowercase;
    }
    
    #modification:hover{
    
        transition : 419ms;
        padding: 10px 45px;
        transform : translateY(-15px);
        background-color: #d60707dd;
        color: #ffffff;
        border: solid 3px #000000;
    }
    
}