
/* ____________________________________différents parents_____________________________________*/

.parent{
    display: flex;
    flex-direction: row;
    justify-content:center ;
    align-items:center; 
    margin-top: 2%;
    margin-bottom: 2%;
}

.parentModif{
    display: flex;
    flex-direction: row;
}
.parentModifInfo{
    display: flex;
    flex-direction: column;
    align-items:flex-end; 
    margin-top: 2%;
    margin-bottom: 2%;
    padding-right: 15px;
    border-right: 5px solid #7E0000DE;
}

.parentModifButton{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items:flex-start; 
}

.alignement{
    display: flex;
    flex-direction: row;
}

.champsModif{
    display: flex;
    flex-direction: row;
}

.infos{
    display: block;
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    align-items: flex-start;
    padding-right: 20px;
    border-right: 5px solid #7E0000DE;
}

.infoFixe{
    display: block;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    align-items: flex-end;
    border-left: 5px solid #7E0000DE;
}

.image{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items:center;
}

/* ____________________image sexe */
#image{
    width: 130px;
    height: 130px;
    display: block;
}

/* ____________________prenom */
#prenom{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    text-align:center;
}

#prenomFixe{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    text-align:center;
}

#newPrenom{
    font-weight: 400;
}

#txtPrenom{
    margin-right: 10px;
}
/* ____________________nom */
#nom{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 10px;
    text-align:center;
}

#nomFixe{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 10px;
    text-align:center;
}

#newNom{
    font-weight: 400;
}

#txtNom{
    margin-right: 10px;
}
/* ____________________mail */
#mail{
    color: blue;
    text-decoration: underline;
    font-weight: bold;
    font-size: 12px;
    margin-top: 10px;
    text-align:center;
}

#mailFixe{
    font-weight: bold;
    font-size: 12px;
    margin-top: 10px;
    text-align:center;
}

#newMail{
    font-weight: 400;
}

#txtMail{
    margin-right: 10px;
}
/* ____________________date */
#date{
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
    text-align:center;
}

#dateFixe{
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
    text-align:center;
}

#newDate{
    font-weight: 400;
}

#txtDate{
    margin-right: 10px;
}
/* ____________________MDP */
#newMdp{
    font-weight: 400;
}

#txtMdp{
    margin-right: 10px;
}


/* bouton pour modifier les infos */
#modification{
    margin-left: 2%;
    font-family: Roboto, sans-serif;
    font-weight: 900;
    font-size: 12px;
    color: #ffffff;
    background-color: #d60707dd;
    padding: 10px 30px;
    border-radius: 50px;
    transition : 419ms;
    transform: translateY(0);
    display: flex;
    flex-direction:row-reverse;
    align-items: center;
    cursor: pointer;
    text-transform: lowercase;
}

#modification:hover{    
    transition : 419ms;
    padding: 10px 45px;
    transform : translateY(-15px);
    background-color: #d60707dd;
    color: #ffffff;
}

/* bouton formulaire pour modification*/
.buton{
    margin-left: 15px;
    font-family: Roboto, sans-serif;
    font-weight: 900;
    font-size: 12px;
    color: #ffffff;
    background-color: #d60707dd;
    border-radius: 50px;
    transition : 419ms;
    transform: translateY(0);
    display: flex;
    flex-direction:row-reverse;
    align-items: center;
    cursor: pointer;
    text-transform: lowercase;
}

.buton:hover{    
    transition : 419ms;
    padding: 10px 45px;
    transform : translateY(-15px);
    background-color: #d60707dd;
    color: #ffffff;
}

#butonValider{
    padding: 10px 25px;
    margin-bottom: 20px;
}

#butonAnuler{
    padding: 10px 31px;
}






/*pour version TEL*/
@media (orientation: portrait) {
    
    /* différents parents*/

    .parent{
        display: flex;
        flex-direction: column;
        justify-content:center ;
        align-items:center; 
        margin-top: 2%;
        margin-bottom: 10%;
    }

    .parentModif{
        display: flex;
        flex-direction: column;
    }
    .parentModifInfo{
        display: flex;
        flex-direction: column;
        align-items:flex-end; 
        margin-top: 2%;
        margin-bottom: 2%;
        padding-right: 15px;
        border-right: none;
    }

    .parentModifButton{
        display: flex;
        flex-direction: column;
        justify-content:center ;
        align-items:flex-start; 
    }


    .champsModif{
        display: flex;
        flex-direction: row;
    }

    .infos{
        display: block;
        display: flex;
        flex-direction: column;
        margin-left: 25px;
        align-items: flex-start;
        padding-right: 20px;
        border-right: none;
    }

    .alignement{
        display: flex;
        flex-direction: row;
    }

    .infoFixe{
        display: block;
        display: flex;
        flex-direction: column;
        padding-left: 15px;
        align-items: flex-end;
        border-left: none;
    }

    .image{
        display: flex;
        flex-direction: column;
        justify-content:center ;
        align-items:center;
        margin-bottom: 30px;
    }

    /* ____________________image sexe */
    #image{
        width: 130px;
        height: 130px;
        display: block;
    }

    /* ____________________prenom */
    #prenom{
        font-weight: bold;
        text-transform: uppercase;
        font-size: 18px;
        text-align:center;
    }

    #prenomFixe{
        font-weight: bold;
        text-transform: uppercase;
        font-size: 18px;
        text-align:center;
    }

    #newPrenom{
        font-weight: 400;
    }

    #txtPrenom{
        margin-right: 10px;
    }
    /* ____________________nom */
    #nom{
        font-weight: bold;
        text-transform: uppercase;
        font-size: 18px;
        margin-top: 10px;
        text-align:center;
    }

    #nomFixe{
        font-weight: bold;
        text-transform: uppercase;
        font-size: 18px;
        margin-top: 10px;
        text-align:center;
    }

    #newNom{
        font-weight: 400;
    }

    #txtNom{
        margin-right: 10px;
    }
    /* ____________________mail */
    #mail{
        color: blue;
        text-decoration: underline;
        font-weight: bold;
        font-size: 12px;
        margin-top: 10px;
        text-align:center;
    }

    #mailFixe{
        font-weight: bold;
        font-size: 12px;
        margin-top: 10px;
        text-align:center;
    }

    #newMail{
        font-weight: 400;
    }

    #txtMail{
        margin-right: 10px;
    }
    /* ____________________date */
    #date{
        font-weight: bold;
        font-size: 16px;
        margin-top: 10px;
        text-align:center;
    }

    #dateFixe{
        font-weight: bold;
        font-size: 16px;
        margin-top: 10px;
        text-align:center;
    }

    #newDate{
        font-weight: 400;
    }

    #txtDate{
        margin-right: 10px;
    }
    /* ____________________MDP */
    #newMdp{
        font-weight: 400;
    }

    #txtMdp{
        margin-right: 10px;
    }


    /* bouton pour modifier les infos */
    #modification{
        margin-left: 2%;
        margin-top: 30px;
        font-family: Roboto, sans-serif;
        font-weight: 900;
        font-size: 12px;
        color: #ffffff;
        background-color: #d60707dd;
        padding: 10px 30px;
        border-radius: 50px;
        transition : 419ms;
        transform: translateY(0);
        display: flex;
        flex-direction:row-reverse;
        align-items: center;
        cursor: pointer;
        text-transform: lowercase;
    }

    /* bouton formulaire pour modification*/
    .buton{
        margin-left: 15px;
        font-family: Roboto, sans-serif;
        font-weight: 900;
        font-size: 12px;
        color: #ffffff;
        background-color: #d60707dd;
        border-radius: 50px;
        transition : 419ms;
        transform: translateY(0);
        display: flex;
        flex-direction:column;
        align-items: center;
        cursor: pointer;
        text-transform: lowercase;
    }

    #butonValider{
        margin-top: 35px;
        padding: 10px 25px;
        margin-bottom: 20px;
        margin-right: auto;
        margin-left: auto;
    }

    #butonAnuler{
        padding: 10px 31px;
        margin-right: auto;
        margin-left: auto;
    }
}