/* Bandeau de cookies */
*{
  margin: 0;
  padding: 0;
}

.bandeau{
    background-color:#7E0000DE;
    width: 100%;
    height: 250px;
    color: white;
    position: absolute;
    bottom: 0px;
    z-index: 0;
    z-index: 1;
    visibility: visible;
}

.buttonBandeau{
    background-color: #7E0000DE;
    border-color: white;
    color: white;
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    margin-left: 20%;
}

.personalisation{
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
}

#Cookies{
  width: 200px;
}

#Description{
    width: 350px;
}

#Accepter{
    width: 50px;
}

#Reffuser{
    width: 50px;
}

#Personalisation{
  color: white;
}

table.blueTable {
    border: 1px solid #7E0000DE;
    background-color: #EEEEEE;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
  }
  table.blueTable td, table.blueTable th {
    border: 1px solid #AAAAAA;
    padding: 3px 2px;
  }
  table.blueTable tbody td {
    font-size: 13px;
  }
  table.blueTable tr:nth-child(even) {
    background: #D0E4F5;
  }
  table.blueTable thead {
    background: #1C6EA4;
    background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    border-bottom: 2px solid #444444;
  }
  table.blueTable thead th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    border-left: 2px solid #D0E4F5;
  }
  table.blueTable thead th:first-child {
    border-left: none;
  }

  .buttonFormTA{
    margin-left: 20px;
    background-color: white;
  }

  .buttonFormTR{
    margin-left: 20px;
    background-color: white;
  }

  .buttonForm{
    margin-left: 25%;
    background-color: white;
  }
  
  .buttonResForm{
    position: absolute;
    background-color:#1C6EA4;
    margin-left: 80%;
    margin-top: 30px;
  }

  .buttonOkForm{
    position: absolute;
    background-color:green;
    margin-left: 71%;
    margin-top: 5px;
  }

/* CAROUCEL */

.owl-nav{
  text-align: center;
  scale: 1.5;
}
.owl-prev, .owl-next{
  margin: 5px;
  background-color: white;
  transition: all 350ms ease;
}

.owl-prev:hover, .owl-next:hover{
  scale: 1.6;
  background-color: rgba(100,100,100,0.5);
}

/* mael css */
.banner
{
    top: 150vh;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100vh;
    max-width: 100%;

}
.banner video
{
    position: absolute;
    left: 0;
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner #raisins
{
  max-width: 100%;

    width: 100vw;
    height: 100vh;
    background: #fff url(../images/raisin.svg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px;
    mix-blend-mode: screen;
}

.grape
{
  max-width: 100%;
}

.descriptionSite{
    top : 1200vh;
    text-align: center;
    color: white;
    max-width: 100%;

}

.banner
{
    top: 150vh;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100vh;
    max-width: 100%;

}
.banner video
{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 100%;

}

.banner #raisins
{
    width: 100vw;
    height: 100vh;
    background: #fff url(../images/raisin.svg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px;
    mix-blend-mode: screen;
    max-width: 100%;
}

* {box-sizing: border-box}

.parent{
  width: 100%;
  z-index: 2;

}

/* Container needed to position the overlay. Adjust the width as needed */
.container {
    width: 18%;
    height: 15%;
    max-height: 11%;
    float: left;
    margin-left: 5%;
    padding: 3px;
}

/* Make the image to responsive */
.image {
  display: block;
  width: 100%;
  height: auto;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: relative;
  background: black; /* Black see-through */
  color: white;
  width: 100%;
  transition: .5s ease;
  opacity:1;
  font-size: 20px;
  height: 125px;
  opacity: 1;
  text-align: center;
  z-index: 2;

}

/* When you mouse over the container, fade in the overlay title */
.container:hover .overlay {
  opacity: 1;
}

.reveal{
  opacity: 0;
  transform: translateY(-30px);
}

.reveal-visible{
  opacity: 1;
  transform: translateY(0);
  transition: 1s;
}

.sejoursActus{
  height: 1000px;
}

@media screen and (max-width: 768px) {
  .container {
    width: 40%;
  }
}

@media screen and (max-width: 480px) {
  .container {
    width: 60%;
  }
}

.decouvrirDiv{
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 50%;
  z-index: 999;
}

#sejoursButton{
  width: 200px;
   height: 50px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
#sejoursButton:hover {
  background-color: #7E0000DE;
  box-shadow: 0px 45px 60px #03030366;
  color: #fff;
  transform: translateY(-7px);
}

#sejoursButton:active {
  transform: translateY(-1px);
} 

.vinotrip-container {
  text-align: center;
  position: relative;
  z-index: 1;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
}

.vinotrip-title {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.vinotrip-description {
  font-size: 20px;
  line-height: 1.5;
  color: white;
}
