* {
    margin: 0;
    padding: 0;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

html {
    height: 100%;
}
  

body{
    margin: 0;
    font-family: "Montserrat";
    color: #7E0000DE;
}

main{
    display: flex;
    flex-direction: column;
}

.flexResponsive{
    display: flex;
}

#sejourHeader img{
    object-fit: cover;
    object-position: contain;
}

.justified{
    text-align: justify;
}

#sejourHeaderText{
    padding: 10px;
    background: #7E0000DE;
    color: white;
}

#sejourHeaderText h1{
    color: white;
    text-decoration: none;
    padding: 2%;
    font-size: 200%;
}

#sejourProgramme{
    margin: 1em;
    margin-top: 3%;
    margin-left: 2vw;
}
#sejourProgramme img {
    padding-bottom: 2vh;
}

#sejourProgramme p{
    margin-left: 2%;
}

#sejourProgramme h4{
    margin-left: 2%;
}

#sejourProgramme h5{
    margin-left: 2%;
}

.etape{
    padding: 0.5em 0 0.5em 0;
    padding-bottom: 4vh;
}

#sejourAvis{
    margin: 1em;
}

#avisHeader *{
    display: inline-block;
}

#avisHeader button{
    float: right;
    margin: 0;
}

#formLeaveReview{
    border-top: solid 1px;
    border-bottom: solid 1px;
    padding: 0.5em 0 0.5em 0;
    margin-top: 0.5em;
}

#formLeaveReview textarea{
    resize: none;
    width: 100%;
}

#formLeaveReviewControlContainer{
    margin-top: 0.25em;
}

#formLeaveReviewControlContainer input, button{
    background-color: #900000;
    color: white;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    padding-left: 6%;
    padding-right: 6%;
    border-radius: 13px;
    margin: 5%;
    border-color: #900000;
    font-weight: 600;
    border-style: none;
    box-shadow: 0px 2px 5px black;
}

#avisData *{
    flex: 1;
}

.avis{
    padding: 0.5em 0 0.5em 0;
}

.avis:not(:last-child){
    border-bottom: solid 1px;
}

.avisHeader{
    padding-bottom: 0.25em;
}

.avisHeader h3{
    display: inline-block;
}

.ratingContainer{
    display: inline-block;
    padding-right: 0.5em;
}

.ratingDot {
    height: 1em;
    width: 1em;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.ratingDotChecked {
    background-color: #7E0000DE;
}

.avisSignature{
    text-align: end;
    font-style: italic;
}

#btnAvisHiding{
    float: right;
}

.slider-wrapper {
    margin: 1rem;/*
    position: relative;
    overflow: hidden;*/
    display: flex;
    align-items: center;
  }

  .slider-wrapper ul {
    border-radius: 20px;
    box-shadow: 0px 2px 5px black;
  }

.slide-arrow{
    margin: 1rem;
    position: relative;
    overflow: hidden;
    background-color: #900000;
    color: white;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 13px;
    margin: 5%;
    border-color: #900000;
    font-weight: 600;
    border-style: none;
    box-shadow: 0px 2px 5px black;
  }
  .slides-container {
    /*height: calc(100vh - 2rem);*/
    height: 50vw;
    width: 100%;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    scroll-behavior: smooth;
  }
  .slides-container h2 {
    text-align: center;
    font-size: 5vw;
    color: white;
    text-shadow: 0px 5px 5px #7E0000DE;
    align-items: center;
    justify-content: center;
  }
  .slides-container a {
    text-decoration: none;
    display: flex;
  }
  .slide {
    width: 100%;
    flex: 1 0 100% ;
    background-repeat: no-repeat ;
    background-position: center ;
    background-size: cover;
  }
.slide div{
    width: 100%;
}

/* RESPONSIVE DESIGN */

@media (orientation: landscape)
{
    .flexResponsive{
        flex-direction: row;
    }

    #noteContainer, #libelleContainer{
        width: 50%;
    }
    
    #noteContainer input, #libelleContainer input{
        width: 100%;
    }
}

@media (orientation: portrait)
{
    .flexResponsive{
        flex-direction: column;
    }

    #formLeaveReviewControlContainer{
        display: flex;
    }

    #formLeaveReviewControlContainer *{
        flex: 1;
    }
}
label {
    display: block;
    margin-bottom: 0.5em;
    font-size: 1em;
    font-weight: bold;
    margin-left: 2vw;
  }
  
  input[type="date"] {
    display: block;
    width: 30%;
    padding: 0.5em;
    margin-left: 2vw;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input[type="date"]:focus {
    border-color: #999;
    outline: none;
  }
  


/* ---------------------------------- */