* {
    margin: 0;
    padding: 0;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

html {
    height: 100%;
}
  

body{
    margin: 0;
    font-family: "Montserrat";
    color: #7E0000DE;
}

main{
    display: flex;
    flex-direction: column;
}

.flexResponsive{
    display: flex;
}

#sejourHeader img{
    object-fit: cover;
    object-position: contain;
}

.justified{
    text-align: justify;
}

#sejourHeaderText{
    padding: 10px;
    background: #7E0000DE;
    color: white;
}

#sejourHeaderText h1{
    color: white;
    text-decoration: none;
}

#sejourProgramme{
    margin: 1em;
}

#sejourProgramme h2{
    padding-bottom: 0.25em;
}

.etape{
    padding: 0.5em 0 0.5em 0;
}

#sejourAvis{
    margin: 1em;
}

#avisHeader *{
    display: inline-block;
}

#avisHeader button{
    float: right;
}

#formLeaveReview{
    border-top: solid 1px;
    border-bottom: solid 1px;
    padding: 0.5em 0 0.5em 0;
    margin-top: 0.5em;
}

#formLeaveReview textarea{
    resize: none;
    width: 100%;
}

#formLeaveReviewControlContainer{
    margin-top: 0.25em;
}

#formLeaveReviewControlContainer input, button{
    background-color: #7E0000DE;
    color: white;
    padding: 0.5em;
}

#avisData *{
    flex: 1;
}

.avis{
    padding: 0.5em 0 0.5em 0;
}

.avis:not(:last-child){
    border-bottom: solid 1px;
}

.avisHeader{
    padding-bottom: 0.25em;
}

.avisHeader h3{
    display: inline-block;
}

.ratingContainer{
    display: inline-block;
    padding-right: 0.5em;
}

.ratingDot {
    height: 1em;
    width: 1em;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.ratingDotChecked {
    background-color: #7E0000DE;
}

.avisSignature{
    text-align: end;
    font-style: italic;
}

#btnAvisHiding{
    float: right;
}

/* RESPONSIVE DESIGN */

@media (orientation: landscape)
{
    .flexResponsive{
        flex-direction: row;
    }

    #noteContainer, #libelleContainer{
        width: 50%;
    }
    
    #noteContainer input, #libelleContainer input{
        width: 100%;
    }
}

@media (orientation: portrait)
{
    .flexResponsive{
        flex-direction: column;
    }

    #formLeaveReviewControlContainer{
        display: flex;
    }

    #formLeaveReviewControlContainer *{
        flex: 1;
    }
}
/* ---------------------------------- */